body {
    text-align: center; /* Center-align text content */
    margin: 0 auto; /* Center horizontally by setting left and right margins to auto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Center vertically by using viewport height */
}

#BTNImage{
    width: 400px;
    height: 400px;
}

#btn1{
    border: 2;
    background-size: auto;
    background-image: url(picture1.webp);
    border: 2px solid rgb(183, 241, 9);
}

#btn2{
    border: 2;
    background-size: auto;
    background-image: url(picture2.webp);
    border: 2px solid rgb(13, 9, 241);
}

#btn3{
    border: 2;
    background-size: auto;
    background-image: url(picture3.webp);
    border: 2px solid rgb(241, 210, 9);
}

#btn4{
    border: 2;
    background-size: auto;
    background-image: url(picture4.webp);
    border: 2px solid rgb(255, 75, 159);
}